
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/bqd2lhk.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="imgright">
            <img src="img/nextright.png" alt="next">
        </div>
        <div class="textbox">
            <div class="maintext"> <strong>Alecto </strong>  is simple PSD Template</div>
            <div class="text">Nam varius accumsan elementum aliquam</div>
            <div class="box">Learn more</div>
        </div>
        <div class="imgleft">
            <img src="img/nextleft.png" alt="next">
        </div>
        
    </div>  
</body>
</html>